/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
  }
  
  /* Header */
  header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  nav li {
    margin-left: 20px;
  }
  
  nav a:hover {
    color: #5f5f5f;
  }
  
  /* Hero */
  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("https://source.unsplash.com/1600x900/?nature,landscape");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  /* About */
  .about {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
  }
  
  .about h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .about p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
  }
  
  /* Portfolio */
  .portfolio {
    max-width: 1200px;
    margin: 80px auto;
    text-align: center;
  }
  
  .portfolio h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .project {
    flex-basis: calc(33.33% - 20px);
    margin-bottom: 40px;
  }
  
  .project img {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .project h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .project p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 1
  }

    /* Footer */
    footer {
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 999;
    }

    footer p{
      font:small-caps 100%/100% sans-serif;
      text-align: center;
      color: #333;
      padding: 10px;
    }